* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:visited {
  text-decoration: none;
  color: var(--primary-color);
}

:root {
  --primary-color: #eedcc2;
  --secondary-color: #00040a;
  --tertiary-color: #94b2e3;
}

body {
  font-family: "Roboto Serif", sans-serif;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

header {
  padding: 20px 35px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  /* background-image: url("../images/header-image.jpg"); */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
}

header a {
  text-decoration: none;
}

header h1 {
  font-weight: bold;
  font-size: 40px;
  color: var(--primary-color);
  margin: 0;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

header nav {
  margin: 8px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 2vw;
  text-shadow: 0 0 10px rgba(223, 216, 216, 0.301);
}

header nav ul li a:hover {
  background: var(--secondary-color);
  color: antiquewhite;
  border-radius: 15px;
  text-shadow: none;
}

.hero {
  background-image: url("../images/hero-image.jpg");
  background-size: cover;
  background-position: 80%;
  width: 100%;
}

.hero p {
  padding: 300px 10px 10px 100px;
  font-size: 60px;
  text-align: right;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

.about-me {
  background-color: var(--secondary-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 20%;
}

.section-title {
  font-size: 48px;
  color: var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
  padding: 20px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
  text-shadow: 0 0 10px rgba(223, 216, 216, 0.301);
}

.about-me img {
  overflow: auto;
  margin: 50px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(252, 251, 251, 0.363);
  /* height: 40vh; */
}

.about-me p {
  color: var(--primary-color);
  margin: 5px 0 15px 0;
  line-height: 1.3;
  text-shadow: 0 0 10px rgba(223, 216, 216, 0.301);
  font-size: 36px;
}

.about-me-bio {
  flex: 1;
  margin: 50px;
  border: 2px solid var(--secondary-color);
  border-radius: 15px;
  background-color: var(--secondary-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: right;
}

.my-work {
  background-color: var(--secondary-color);
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.top-project {
  width: 100%;
  margin: 0 auto;
}

.first-project {
  margin: 50px;
  height: 500px;
  flex: 1;
  align-items: center;
  background-image: url("../images/project-1-image.jpg");
  background-size: cover;
  background-position: center;
  background-position: 80%;
  border-radius: 15px;
}

.small-projects {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.small-project {
  flex: 1;
  margin: 50px;
  padding: 50px;
  height: 250px;
  width: 300px;
  border-radius: 5px;
  position: relative;
}

.background-two {
  background-image: url("../images/project-2-image.jpg");
  background-size: cover;
  width: 100%;
  overflow: auto;
  padding: 5;
}

.background-three {
  background-image: url("../images/project-3-image.jpg");
  background-size: cover;
  width: 100%;
  overflow: auto;
  padding: 5;
}

.background-four {
  background-image: url("../images/project-4-image.jpg");
  background-size: cover;
  width: 100%;
  overflow: auto;
  padding: 5;
}

.background-five {
  background-image: url("../images/project-5-image.jpg");
  background-size: cover;
  width: 100%;
  overflow: auto;
  padding: 5;
}

.first-project-button {
  color: var(--secondary-color);
  font-size: 48px;
  padding: 10px;
  width: 25%;
  margin: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background-color: rgba(250, 235, 215, 0.8);
  position: relative;
  top: 80%;
  left: 3%;
  text-align: center;
  z-index: 9998;
}

.small-project-button {
  color: var(--secondary-color);
  font-size: 36px;
  padding: 10px;
  width: 50%;
  margin: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background-color: rgba(250, 235, 215, 0.8);
  position: relative;
  top: 80%;
  left: 50%;
  text-align: center;
  z-index: 9998;
}

.first-project-button:hover {
  transform: scale(1.1);
}

.small-project-button:hover {
  transform: scale(1.1);
}

.contact {
  width: 100%;
  margin: 0 auto;
}

.contact-info {
  margin: 10px;
  padding: 10px;
  font-size: 24px;
  text-align: center;
}

.footer {
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.top-project a,
.small-projects a {
  color: var(--secondary-color);
  text-decoration: none;
}

.contact a {
  text-decoration: none;
}
